# Langchain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic   

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
sentence-transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#UI
streamlit

#AI Output validation
pydantic
pydantic[email]

# To visualize Chain sequence
grandalf

# Document Loader
langchain-community
pyPDF
beautifulsoup4 lxml


